@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400..600&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --beige: #e7dfce;
    --orange: #b43f2a;
    --teal: rgb(15, 108, 94);
    --white: rgb(229, 248, 255);
    --black: rgb(25, 25, 25);
    --darkGrey: #232323;
    --format{
        background-color: var(--darkGrey);
        color: var(--white);
    }

    --font-dosis: 'dosis', sans-serif;
    /* --font-montserrat: 'montserrat', sans-serif; */
    --font-oswald: 'oswald', sans-serif;
    --font-roboto: 'roboto', sans-serif;
}