@import url('./_variables.scss');
@import url('./_home.scss');
@import url('./_drinking.scss');
@import url('./_bom.scss');
@import url('./_adhd.scss');
@import url('./_late.scss');
@import url('./_early.scss');
@import url('./_rob.scss');

body{
    margin: 0;
    font-family: var(--font-roboto);
    color: var(--black);
    background-color: var(--beige);
}

p{
    font-size: 1.2rem;
}

// .gif{
//     // position: relative;
//     // z-index: +1;
//     background-color: black;
//     height: 100px;
//     width: 120px;
//     // background-image: url(../pictures/Drinking/group-image.jpg);
//     background-position: center;
//     background-attachment: fixed;
//     background-size: cover;
//     background-repeat: no-repeat;
//     z-index: -1;
// }

.background-parallax{
    background-image: url(../pictures/Drinking/Asset\ 16.webp);
    display: flex;
    // background-color: black;
    // height: 20vh;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}

.scroll-watcher{
    display: flex;
    width: 5px; /* Change this to width */
    height: 100%; /* Change this to height */
    position: fixed;
    left: 0; /* Change this to left */
    z-index: 1;
    background-color: lime;
    scale: 1 0; /* Adjust scale for vertical */
    transform-origin: bottom; /* Change this to top */

    animation: scroll-watcher linear;
    animation-timeline: scroll();
}

// @keyframes scroll-watcher{
//     to{scale: 1 1;}
// }

#db {
    font-size: 3rem;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    font-family: var(--font-dosis);
    background-color: var(--black);
    color: var(--white);

    a {
        color: var(--white);
    }
}

nav{
    font-family: var(--font-roboto);
    font-weight: 100;

    ul{
        list-style: none;

        a:hover {
            text-decoration: underline solid;
        }
    }
}

a{
    text-decoration: none;
}

.header{
    // background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .photographer{
        background-color: rgba(0, 0, 0, 0.7);
        color: var(--white);
        margin: 0;
        margin-top: -1.75rem;
    }

    .title{
        padding: 1rem 1rem;
        color: var(--white);
        margin: 0;
        font-size: 2rem;
        background-color: rgb(28, 27, 27, 0.7);
    }
}

#title {
    padding: 1rem 1rem;
    color: var(--white);
    margin: 0;
    font-size: 2rem;
    background-color: rgb(28, 27, 27, 0.7);
}

#intro {
    position: relative;
    justify-content: flex-end;
    margin-top: 3rem;
    max-width: 65vw;
    background-color: var(--beige);
    padding: 1rem 1rem 1rem 2rem;
    z-index: 0;
}

.topQuote{
    font-weight: 600 !important;
    font-size: 1.75rem;
}

.sitat, .sit, .topQuote {
    font-style: italic;
    font-weight: 300;
}

.sitat{
    border-left: .5rem solid var(--orange);
    padding-left: .5rem;
    background-color: rgb(15, 108, 94, .05);
}

figure{
    margin: 0;
    
    img{
        width: 100%;
    }
}

.photographer {
    text-align: right;
    position: relative;
    font-size: 0.7rem;
    padding: 0.3rem;
    margin: 0;
    font-style: italic;
}

.photo-text {
    color: var(--white);
    background-color: var(--orange);
    font-weight: 300;
    padding: .5rem 1rem;
    margin: 0;
    margin-top: -.3rem;
}

h3{
    margin: 2rem 0 1rem;
    font-size: 1.35rem;
}

h4{
    margin: 3rem 0 1rem;
    font-size: 1.2rem;
}

footer {
    padding: 2rem;
    background-color: var(--black);
    color: var(--white);
    font-family: var(--font-dosis);


    h5 {
        font-weight: 300;
        text-align: right;
        font-size: large;
        margin: 0;
    }

    .date, .Kan {
        text-align: right;
        font-weight: 300;
        color: var(--teal);
    }

    .role {
        font-weight: 200;
        font-size: small;
        text-align: right;
    }

    #VA{
        padding-top: 2rem;
    }
}

/* PC-skjermer */

@media only screen and (min-width: 750px) {
    main{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        gap: 1rem;
    }

    #content{
        grid-column: 2;
    }

    .header{
        grid-column: 1/4;
        margin: 0;
        // height: auto;
        grid-row: 1;
    }
    
    header{
        z-index: +2;
    }

    #title{
        padding: 1rem 2rem;
    }

    article, #buttom{
        margin: 0 !important;
    }

    #beer-pong{
        background-position: bottom center;
    }
}