<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./style/style.css" />
		<title>Document</title>
	</head>
	<body>
		<header>
			<h2 id="nav"><strong id="db"> DB </strong> News</h2>
			<ul>
				<li id="home">Home</li>
			</ul>
		</header>
		<main>
			<article>
				<figure>
					<img src="./media/despair.png" alt="despair" />
					<p className="sitat">
						"sistat intevju": ... Lorem ipsum odor amet, consectetuer adipiscing
						elit. Phasellus himenaeos urna penatibus iaculis massa lacinia ut.
						Nisi mattis penatibus tempor eros; fermentum dolor. Nostra tristique
						ornare amet eros lacinia fermentum turpis pharetra. Lorem quam
						consectetur pellentesque adipiscing nisi himenaeos. Morbi sodales eu
						venenatis nisi justo. Pharetra sociosqu egestas nisl luctus faucibus
						phasellus volutpat.
					</p>
					<!-- <figcaption className="photographer">
                        Illustartion: Anne May Omberg
					</figcaption> -->
				</figure>

				<h3>Ble utredet so 6-åring</h3>
				<p>
					Lorem ipsum odor amet, consectetuer adipiscing elit. Phasellus
					himenaeos urna penatibus iaculis massa lacinia ut. Nisi mattis
					penatibus tempor eros; fermentum dolor. Nostra tristique ornare amet
					eros lacinia fermentum turpis pharetra. Lorem quam consectetur
					pellentesque adipiscing nisi himenaeos.
				</p>

				<h4>ADHD i hverdagen</h4>
				<p>
					Lorem ipsum odor amet, consectetuer adipiscing elit. Phasellus
					himenaeos urna penatibus iaculis massa lacinia ut. Nisi mattis
					penatibus tempor eros; fermentum dolor. Nostra tristique ornare amet
					eros lacinia fermentum turpis pharetra.
				</p>

				<h4>En todelt opplevelse</h4>
				<p className="sitat">
					"sistat intevju": ... Viverra fringilla fermentum egestas potenti,
					praesent semper duis blandit. Netus curabitur consequat mus purus,
					litora nascetur. Sodales varius purus litora lobortis conubia; maximus
					ante placerat.
				</p>

				<figure>
					<img src="./media/balanced.png" alt="blalanced" />
					<p className="photo-text">
						Lorem ipsum odor amet, consectetuer adipiscing elit. Phasellus
						himenaeos urna penatibus iaculis massa lacinia ut. Nisi mattis
						penatibus tempor eros; fermentum dolor. Nostra tristique ornare amet
						eros lacinia fermentum turpis pharetra. Lorem quam consectetur
						pellentesque adipiscing nisi himenaeos. Morbi sodales eu venenatis
						nisi justo. Pharetra sociosqu egestas nisl luctus faucibus phasellus
						volutpat. Viverra fringilla fermentum egestas potenti, praesent
						semper duis blandit. Netus curabitur consequat mus purus, litora
						nascetur. Sodales varius purus litora lobortis conubia; maximus ante
						placerat.
					</p>
			</article>
		</main>
		<footer>
			<p className="role">Journalist & fotograf:</p>
			<h5>Jenny Østreng & Ida Marie Olsen</h5>
			<p className="date">Tirsdag 10. september 13:47</p>

			<p className="role" id="VA">Utvikler & designer:</p>
			<h5>Anne May Omberg & Vilde Andrea Fjeld Pedersen</h5>
			<p className="date">Fredag 25. oktober 14:44</p>
		</footer>
	</body>
</html>
